<div class="col-12 d-inline-flex justify-content-center">
    <div class="card m-5 w-75">
        <div class="card-header bg-danger text-light">Añadir Itinerario</div>
        <div class="card-body">
            <form #pathwayForm="ngForm" (ngSubmit)="addPathway()">
                <div class="mb-3 text-light">
                    <label for="nombre" class="form-label">Nombre del Itinerario</label>
                    <input type="text" class="form-control" name="nombre" id="nombre"
                        placeholder="Introduce el nombre de tu Itinerario" [(ngModel)]="form.nombre" required>
                </div>
                <button type="submit" class="btn btn-danger w-100" [disabled]="!pathwayForm.valid">Añadir Itinerario</button>
            </form>
        </div>
    </div>
</div>